<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Debounce (delay) User input with lodash</title>
    <link rel="stylesheet" href="../../Libs/bootstrap-3.3.6-dist/css/bootstrap.css">

    <script src="../../Libs/vendor/lodash.js"></script>
    <script src="../../Libs/angular-1.5.0-rc.0/angular.js"></script>
    <script src="js/app.js"></script>

</head>
<body ng-app="app" ng-controller="AppCtrl as app" class="container">

<input type="text" ng-model="app.searchTerm"/>
<span>{{ app.inforMessage }}</span>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="person in app.people | filter: app.debounceTerm track by person.id">
        <td>{{ $index + 1 }}</td>
        <td>{{ person.firstName }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ person.email }}</td>
    </tr>
    </tbody>
</table>


</body>
</html>