<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What's new in Angular 1.3</title>

    <script src="../../Libs/angular-1.5.0-rc.0/angular.js"></script>
    <script src="../../Libs/angular-1.5.0-rc.0/angular-aria.js"></script>
    <script src="js/main.js"></script>
</head>
<body ng-app="app" ng-controller="MainCtrl as vm">

<h1>Angular version: {{ vm.angularVersion }}</h1>
<h2>
    {{vm.lessonTitle || 'Angular Lesson'}}
    <small>by Von</small>
</h2>
<h2>Demo</h2>

<form ng-init="vm.radio='1'">
    Input: <br> <input show-attrs ng-model="vm.input">
    Textarea: <br> <textarea show-attrs ng-model="vm.textarea"></textarea>

    Radio: <br>
    <input name="myRadio" show-attrs type="radio" ng-model="vm.radio" value="1">
    <input name="myRadio" show-attrs type="radio" ng-model="vm.radio" value="2">

    Checkbox: <br> <input show-attrs type="checkbox" ng-model="vm.checkbox">
    Range: <br> <input show-attrs type="range" ng-model="vm.checkbox" min="0" max="25">
    Hide/Show: <input type="checkbox" ng-model="vm.show"> <input show-attrs ng-show="vm.show" ng-model="hidden">
    Invalid: <br> <input show-attrs type="email" ng-model="vm.required" required>
    Disabled: <input type="checkbox" ng-model="vm.disable">
    <br>
    <button show-attrs type="submit" ng-disabled="vm.disable">Sumit</button>
</form>

</body>
</html>