<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo AngularJS</title>
    <link rel="stylesheet" href="../Libs/bootstrap-3.3.6-dist/css/bootstrap.css">

</head>
<body>

<div ng-app="myApp">

    <div ng-controller="FirstCtrl">
        <input type="text" ng-model="data.message">
        <h1>{{data.message}}</h1>
    </div>

    <div ng-controller="SecondCtrl">
        <input type="text" ng-model="data.message">
        <!--<h1>{{reversedMessage(data.message)}}</h1>-->
        <h1>{{data.message|reverse}}</h1>
    </div>

</div>

    <script src="../Libs/angular-1.5.0-rc.0/angular.js"></script>
    <script src="js/main.js"></script>
</body>
</html>